* {
    
    font-family: "Josefin Sans", sans-serif;
}

.container {
    
    margin: 200px;
    background-color: steelblue;
    height: 500px;
    border-radius: 100px;
    
}

.col {
    
    text-align: center;
}

#welcometoquiz {

    margin: 50px;
    font-size: 75px;
    color: white;
}

#startButton {

    background-color: lightcoral;
    margin: 30px;
    height: 75px;
    border-radius: 25px;
    margin-top: 30px;
    zoom: 2;
    color: white;
    font-size: 25px;
}

#startButton:hover{

    box-shadow: 1px 5px 50px black;
    color: black;
}



